
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}


ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CUSTOM PROPERTIES */

:root {
    /* PRIMARY COLORS */
    --clr-pink: hsl(322, 100%, 66%);
    /* NEUTRAL COLORS */
    --clr-cyan-pale: hsl(193, 100%, 96%);
    --clr-cyan-dark: hsl(192, 100%, 9%);
    --clr-grey: hsl(208, 11%, 55%);
    --clr-white: hsl(0, 100%, 100%);

    /* TYPOGRAPHY */
    --fs-regular: 1.125rem;
    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --poppins-fw-bold: 600;
    --opensans-fw-bold: 700;
}

/* COMPONENTS */

.btn {
    font-weight: var(--opensans-fw-bold);
    padding: 1rem 4rem;
    border: none;
    border-radius: 20px;
}

.btn:is(:hover, :focus) {
    opacity: .75;
}


.btn-primary {
    background-color: var(--clr-pink);
    color: var(--clr-cyan-pale);
    box-shadow: 0 2px 2px var(--clr-grey);
}

.btn-secondary {
    background-color: var(--clr-white);
    box-shadow: 0 2px 2px var(--clr-grey);
    padding: 1rem;
}

:is(h1, h2) {
    font-family: var(--ff-poppins);
    font-weight: var(--poppins-fw-bold);
}


/* UTILITIES */

.flow > * + * {
    --flow-space: 1em;
    margin-top: var(--flow-space);
}

.container > * {
    --inline-container: 2rem;
    padding-inline: var(--inline-container)
}

/* GENERAL STYLING */

body {
    font-family: var(--ff-open-sans);
    font-size: var(--fs-regular);
    text-align: center;
}

.main {
    background-image: url('images/bg-hero-mobile.svg');
    background-position: top;
    background-repeat: no-repeat;
    padding-block-end: 5rem;
    z-index: 2;
}


/* TOP-SECTION */

.top-section {
    background-color: var(--clr-cyan-pale);
    padding-block-start: 2rem;
    padding-block-end: 5rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.top-content {
    --flow-space: 5em;
}

.top-content-image {
    --flow-space: 3em;
}

/* MIDDLE-SECTION */

.middle-section {
    padding-block-start: 8rem;
    padding-block-end: 5rem;
}

.benefits {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    --flow-space: 4em;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 10px #ebebeb;
    padding: 3rem 2rem;
}



/* CTA-BOX */

.cta-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-box {
    background-color: white;
    box-shadow: 3px 3px 5px 2px black;
    transform: translateY(100%);
    border-radius: 10px;
    padding: 2rem;
}

/* FOOTER */

.footer {
    background-color: var(--clr-cyan-dark);
    color: var(--clr-cyan-pale);
    padding-block: 16rem;
    text-align: left;
}

.footer-logo svg path{
    fill: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.contact-info > * {
    display: flex;
    align-items: center;
    gap: 2em;
}


.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.footer-menu a:is(:hover, :focus) {
    border-bottom: 1px solid var(--clr-white);
    transition: .5s;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.social-media svg {
    fill: var(--clr-cyan-pale);
    border: 1px solid var(--clr-cyan-pale);
    border-radius: 10px;
}

.social-media svg path:is(:hover, :focus) {
    fill: var(--clr-pink);
    transition: .5s;
    border-color: green;
}

.social-media-icons {
    display: flex;
    gap: 1rem;
}

.copyright {
    font-size: 1rem;
}

@media(min-width: 50rem) {
    .container > * {
        --inline-container: 5em;
    }
    .benefits {
        grid-template-columns: repeat(2, 1fr);
    }
    .benefits:nth-child(2) {
        grid-template-areas: "image text";
    }
    .benefits:nth-child(1),
    .benefits.benefits:nth-child(3) {
        grid-template-areas: "text image";
    }
    .benefits:nth-child(1) .benefits-image,
    .benefits:nth-child(2) .benefits-image,
    .benefits:nth-child(3) .benefits-image {
        grid-area: image;
    }
    .benefits-text {
        margin-block: auto;
    }
    .footer-content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    .social-media {
        align-items: flex-start;
        justify-content: space-between; 
    }
}